.container
  margin: 0 auto
  border: 1px solid #ccc
  .carousel
    ::ng-deep
      height: 272px
      border: 1px solid blue
      display: flex
      flex: column
      justify-content: center
      align-items: center
      .arrow
        width: 4rem
        cursor: pointer
        &.off
          opacity: 0.2
      .pages
        display: flex
        flex: column
        justify-content: center
        align-items: center
        .page
          border: 1px dashed blue
          width: 150px
          height: 180px
          background-color: #eee
          transform: translateX(20px)
          transition: transform 500ms ease-in-out 0s
          img
            width: 100%
            height: 100%            
            object-fit: fill
            transition: transform 500ms ease-in-out 0s
          .img
            width: 100%
            height: 100%            
            object-fit: fill
            transition: transform 500ms ease-in-out 0s
          &.second
            transform: translateX(-20px) scale(1.3)
            z-index: 2
            border: 1px solid grey
          &.main
            transform: translateX(0px) scale(1.5)            
            z-index: 3
            background-color: red
          &.last
            transform: translateX(-20px)            
            
          
