<select (change)="selectFile($event)">
  <option *ngFor="let file of state.files; let i=index" [value]="i" [selected]="i===state.selectedIndex">
    {{file.fileName}}-{{i===state.selectedIndex}}</option>
</select>
<div class="file-selector">
  <input #fileInput (change)="uploadFiles(fileInput)" type="file" accept="application/pdf" multiple />
</div>

<div class="container">
  <div class="carousel">
    <img class="arrow" src="../assets/prev-button.svg" alt="<" (click)="go('prev')" [ngClass]="{'off': !state.isMovementPossible('prev')}">
    <div id="pages" class="pages">
      <div #page class="first"></div>
      <div #page class="second"></div>
      <div #page class="third"></div>
      <div #page class="fourth"></div>
      <div #page class="fifth"></div>
    </div>
    <img class="arrow" src="../assets/next-button.svg" alt=">" (click)="go('next')" [ngClass]="{'off': !state.isMovementPossible('next')}">
  </div>
</div>