// This mixin already exists in the main project
@mixin smoothBoxShadow($strength: 0.05)
  box-shadow: 0px 0.3px 0.8px rgba(0, 0, 0, 0.281 * $strength), 0px 0.7px 2px rgba(0, 0, 0, 0.404 * $strength), 0px 1.3px 3.8px rgba(0, 0, 0, 0.5 * $strength), 0px 2.2px 6.7px rgba(0, 0, 0, 0.596 * $strength), 0px 4.2px 12.5px rgba(0, 0, 0, 0.719 * $strength), 0px 10px 30px rgba(0, 0, 0, 1 * $strength)

  
.container
  margin: 0 auto
  border: 1px solid #ccc
  .carousel
    ::ng-deep
      height: 272px
      border: 1px solid blue
      display: flex
      justify-content: center
      align-items: center
      .arrow
        width: 4rem
        cursor: pointer
        &.off
          opacity: 0.2
      .pages
        width: 150px
        height: 180px
        margin: 0 300px
        position: relative
        &>div
          border: 1px dashed blue
          width: 150px
          height: 180px
          background-color: #eee
          position: absolute
          display: inline-block
          top: 0
          left: 0
          transition: transform 250ms ease-in-out, z-index 250ms ease-in-out
          @include smoothBoxShadow(0.07)
          img
            width: 100%
            height: 100%            
            object-fit: fill
            transition: transform 500ms ease-in-out 0s
          .img
            width: 100%
            height: 100%            
            object-fit: fill
            transition: transform 500ms ease-in-out 0s
          &.first
            transform: translate(-280px, 25px) scale(0.9)
            z-index: 5
          &.second
            transform: translate(-160px, 10px) scale(1.2)
            z-index: 10
          &.third
            transform: translate(0) scale(1.5)
            z-index: 15
          &.fourth
            transform: translate(160px, 10px) scale(1.2)
            z-index: 10
          &.fifth
            transform: translate(280px, 25px) scale(0.9)
            z-index: 5   
